<p id="notice"><%= notice %></p>

<h1>Music Events</h1>

<table>
  <thead>
    <tr>
      <th>Nama band</th>
      <th>Asal</th>
      <th>Jumlah personil</th>
      <th>Nama manager</th>
      <th>Genre</th>
      <th>Jadwal tampil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @music_events.each do |music_event| %>
      <tr>
        <td><%= music_event.Nama_Band %></td>
        <td><%= music_event.Asal %></td>
        <td><%= music_event.Jumlah_Personil %></td>
        <td><%= music_event.Nama_Manager %></td>
        <td><%= music_event.Genre %></td>
        <td><%= music_event.Jadwal_Tampil %></td>
        <td><%= link_to 'Show', music_event %></td>
        <td><%= link_to 'Edit', edit_music_event_path(music_event) %></td>
        <td><%= link_to 'Destroy', music_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music Event', new_music_event_path %>
