<p id="notice"><%= notice %></p>

<p>
  <strong>Nama band:</strong>
  <%= @music_event.Nama_Band %>
</p>

<p>
  <strong>Asal:</strong>
  <%= @music_event.Asal %>
</p>

<p>
  <strong>Jumlah personil:</strong>
  <%= @music_event.Jumlah_Personil %>
</p>

<p>
  <strong>Nama manager:</strong>
  <%= @music_event.Nama_Manager %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @music_event.Genre %>
</p>

<p>
  <strong>Jadwal tampil:</strong>
  <%= @music_event.Jadwal_Tampil %>
</p>

<%= link_to 'Edit', edit_music_event_path(@music_event) %> |
<%= link_to 'Back', music_events_path %>
